.map-container {
    padding: 5px 45px 20px 45px;
    width: 100%;
    box-shadow: 2px 0 5px -2px #888;
}

#create-alert-btn-container button {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 5px;
    font-weight: 700;
    place-content: center;
    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
    box-shadow: 0 0 2px gray;
}

#create-alert-btn-container button:hover {
    background-color: lightgray;
    color: darkblue;
}

.leaflet-container {
    height: 79%;
    margin: 15px;
    border: 1.5px solid lightgrey;
}

.leaflet-control-layers-overlays {
    display: flex;
    flex-direction: row;
    width: 180px;
    gap: 0.5rem;
    justify-content: center;
}


.leaflet-top+.leaflet-right {
    margin-top: 125px !important;
}

.leaflet-control-layers-toggle {
    background-color: #faf9fb;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.leaflet-control-layers label {
    cursor: pointer;
    gap: 0.5rem;
    border: none;

    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 5px;
    font-weight: 700;
    place-content: center;

    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
    box-shadow: 0 0 2px gray;
    background-color: #f0f2f5;
}

.leaflet-control-layers-overlays label input[type='checkbox'] {
    display: none;
}

.leaflet-control-layers-overlays :has(input[type='checkbox']:checked) {
    background-color: #e0e0e0;
}

.leaflet-control-layers-overlays :not(:has(input[type='checkbox']:checked)) {
    background-color: #faf9fb;
}

.leaflet-control-layers-overlays :not(:has(input[type='checkbox']:checked)):hover,
.leaflet-control-layers-overlays :has(input[type='checkbox']:checked):hover,
.leaflet-control-layers label:hover {
    background-color: #d3d3d3;
    color: darkblue;
}

.leaflet-control-layers-overlays span {
    background-color: rgba(0, 0, 0, 0) !important;
}