#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/* ------------------------ MY CSS ------------------------ */
.leaflet-control-layers-list {
    display: flex; /* Arrange items horizontally */
}

/* .leaflet-control-layers-base, */
.leaflet-control-layers-overlays {
    display: none; /* Hide base and overlay layer sections */
}

.leaflet-control-layers-overlays label {
    margin-right: 10px; /* Space between buttons */
}

.leaflet-control-layers-overlays label span { /* Style the labels as buttons */
    padding: 8px 12px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Make them behave like buttons */
    text-align: center;
    /* width: 80px; */
}

.leaflet-control-layers-overlays label span:hover {
    background-color: #e0e0e0;
}

.leaflet-control-layers-overlays label input[type="checkbox"] {
    display: none; /* Hide checkboxes */
}

.leaflet-control-layers-overlays label input[type="checkbox"]:checked + span {
    background-color: #ddd; /* Style for 'active' button */
}
