body:has(.about-resume-container.zoom) {
    & .Navbar-container,
    .Sidebar-container,
    .top-container,
    .about-details-header,
    .details-a-container,
    .about-projects-container {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 0;
    }
}

.about-container {
    display: flex;
    width: 100%;
}

.about-details-container,
.about-resume-container,
.about-projects-container {
    margin-top: 3vh;
    margin-right: 2vw;
}

.about-details-container {
    width: 30%;
}

.about-projects-container {
    width: 27.5vw;
}

.about-resume-container {
    position: relative;
    width: 18vw;
    display: flex;
    transition: all 0.5s ease-in-out;
}

#resume-container-inner {
    position: absolute;
    width: 100%;
    top: 5vh;
    transition: all 0.5s ease-in-out;
}

.about-resume-container.zoom {
    width: 32.5vw;

    & #resume-container-inner {
        top: -650%;
    }

    & #resume-img-2 {
        left: 35vw;
        transform: none;
    }

    & #about-overlay {
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(60, 62, 66);
        z-index: 2;
        height: 100vh;
        width: 100vw;
    }

    & .about-details-header.resume {
        opacity: 0;
    }

    & .resume-download-link {
        opacity: 1;
        z-index: 2;
        &:hover {
            text-decoration: underline;
        }
    }
}

#about-overlay {
    transition: background 0.5s ease-in-out;
}

.resume-download-link {
    position: absolute;
    top: -5vh;
    right: 0;
    transform: translateX(-1.75%) translateY(5.5%);
    width: 100%;
    text-align: right;
    opacity: 0;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.about-details-header.resume {
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.resume-img {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

#resume-img-1 {
    z-index: 4;
}

#resume-img-2 {
    transform: translateX(15%) translateY(10%);
    z-index: 3;

    &:hover {
        z-index: 5;
    }
}

.about-details-header {
    border-bottom: 3px solid rgb(146, 146, 146);
    width: max-content;
    margin-bottom: 1vh;
}

.about-a {
    display: flex;
    align-items: center;
    padding: 0.5vh 0.25vw;

    &:hover {
        background: #d5d5da;
    }

    & > span {
        width: fit-content;
    }

    &.projects {
        justify-content: space-between;
    }
}

.about-div.projects {
    display: flex;
    padding: 0.5vh 0;
}

.about-logo-container {
    width: 2vw;
    margin-right: 0.5vw;
    display: flex;
    align-items: center;
    height: 3vh;
}

.about-logo {
    width: 1.25vw;
}

#radar-logo {
    width: 2vw;
}

#play-logo-container,
#play-logo {
    width: 9vw;
}

.host-name {
    font-size: 0.8rem;
}
