.page-title {
    transform: translateX(-1vw);
    border-bottom: 3px solid rgb(197, 130, 130);
    padding-left: 1vw !important;
    width: max-content;
}

.data-container.home,
.data-container.about {
    padding: 20px !important;
}

.app-container {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}

.app-container * {
    padding: 0;
    margin: 0;
}

.data-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.headers-container,
.select-container {
    padding: 5px 0;
}

.select-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
}

#page-title {
    padding-bottom: 5px;
}

h3 {
    font-size: 14px;
    font-weight: 500;
}

h2 {
    margin: 20px 0 0 0;
    padding: 0;
    font-weight: 700;
}

h4 {
    margin: 15px 0 5px 0;
    color: #3e3446;
    font-weight: 400;
}

h4 span {
    font-weight: 600;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

#filter-container-outer {
    position: relative;
    z-index: 10000;
}

.filter-container-inner,
.filter-container-inner-2 {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

#filter-container-inner select {
    font-size: 16px;
    padding: 5px 15px 5px 2px;
}

#display-limit {
    width: 150px;
}

#group-by,
#sort-by,
#event-type-select,
#category-select {
    width: 230px;

    & div {
        cursor: pointer;
    }
}