.map-container {
    padding: 5px 45px 20px 45px;
    width: 100%;
    box-shadow: 2px 0 5px -2px #888;
    user-select: none;
}

#create-alert-btn-container button {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    border: none;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 5px;
    font-weight: 700;
    place-content: center;
    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
    box-shadow: 0 0 2px gray;
}

#create-alert-btn-container button:hover {
    background: lightgray;
    color: darkblue;
}

.leaflet-container {
    height: 85%;
    border: 1.5px solid lightgrey;
}

.leaflet-popup-content-wrapper {
    padding: 1px;
}

.leaflet-popup-content {
    margin: 13px 24px 13px 20px;
}

.leaflet-popup-tip-container {
    margin: -1px 0 0 -20px;
}

.leaflet-popup-tip {
    padding: 1px;
    margin: -10px auto 0;
}

.leaflet-control-layers {
    background: transparent;
    border: none !important;
}

.leaflet-control-layers-overlays {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.leaflet-top + .leaflet-right {
    margin-top: 125px !important;
}

.leaflet-control-layers-toggle {
    /* background: #faf9fb; */
    border-radius: 5px;
    background-size: 100% !important;
}

.leaflet-control-layers label {
    cursor: pointer;
    border: none;

    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 5px;
    font-weight: 700;
    place-content: center;

    padding: 0.75rem 1rem;
    font-size: 0.825rem;
    line-height: 1rem;
    box-shadow: 0 0 2px gray;
    background: #f0f2f5;

    margin: 5px;
}

.leaflet-control-layers-overlays label input[type='checkbox'] {
    display: none;
}

.leaflet-control-layers-overlays :has(input[type='checkbox']:checked) {
    background: #e0e0e0;
}

.leaflet-control-layers-overlays :not(:has(input[type='checkbox']:checked)) {
    background: #faf9fb;
}

.leaflet-control-layers-overlays
    :not(:has(input[type='checkbox']:checked)):hover,
.leaflet-control-layers-overlays :has(input[type='checkbox']:checked):hover,
.leaflet-control-layers label:hover {
    background: #d3d3d3;
    /* color: darkblue; */
}

.leaflet-control-layers-overlays span {
    background: rgba(0, 0, 0, 0) !important;
}
