html:has(div.night-true) {
    ::-webkit-scrollbar-track {
        background: #1e1e1e;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(85, 85, 85);
        border-radius: 10px;
    }
}

body:has(div.night-true) {
    background: #3a3a3e;
}

.app-container.night-true {
    background: #1e1e1e;
    color: #dadadf;

    /* Bars */
    .Navbar-container,
    .Sidebar-container {
        background: #39393e;
    }

    .sidebar-header,
    .sidebar-icon,
    .navbar-icon {
        font-weight: 600;
        fill: #dadadf;
    }

    .Navbar-container a,
    .sidebar-link {
        font-weight: 400;
        color: #dadadf;
    }

    .navbar-item:hover {
        background: #57575b !important;
    }

    .collapse-toggle-button {
        color: #dadadf;
    }

    .slider {
        background: #777777;
    }

    .slider:before {
        background: #e9e9e9;
    }

    /* App */
    .top-container {
        background: #1e1e1e;
        color: #dadadf;
    }

    .page-title {
        font-weight: 600 !important;
    }

    h4 {
        color: #dadadf;
    }

    a {
        /* color: #9ca1ff; */
        color: #a3aaff;
    }

    .filter-container-inner div,
    .filter-container-inner button {
        filter: invert(1);
        color: #1e1e1e;
    }

    .filter-container-inner div div:has([aria-disabled='true']) {
        outline: 1px solid #444444;
    }

    .filter-container-inner div div:has([aria-disabled='true']) * {
        filter: invert(0) !important;
        background: #1a1a1a;
        color: rgb(61, 61, 61);
        border: none;
    }

    #event-type-select div {
        -webkit-transition: none !important;
        transition: none !important;
    }

    /* Home Page */
    .card-container.home {
        box-shadow: 1px 1px 1px 0 #3a3a41 !important;
    }

    .card-container.label {
        color: #dadadf;
        border: none;
        box-shadow: none;
        background: #1e1e1ee3;
    }

    .card-container.home.card-left {
        opacity: 0.95;
    }

    .card-container.home.card-center-left {
        opacity: 0.98;
    }

    .card-container.home.card-center {
        box-shadow: 1px 1px 3px 0 #3a3a41 !important;
    }

    .card-container.home.card-center-right {
        opacity: 0.98;
    }

    .card-container.home.card-right {
        opacity: 0.95;
    }

    .carousel-arrow:hover {
        color: rgb(128, 128, 128);
    }

    /* About Page */
    .about-a {
        &:hover {
            background: #242424;
        }
    }

    .resume-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        /* transform: translateX(15%) translateY(5%); */
    }

    .resume-night-overlay-2,
    .resume-night-overlay-1 {
        position: absolute;
        width: 22.5vw;
        height: 100%;
        background: #0000002e;
    }

    .resume-night-overlay-1 {
        z-index: 2;
    }

    .resume-night-overlay-2 {
        transform: translateX(15%) translateY(5%);
        z-index: 1;
    }

    /* Map View */
    .leaflet-container {
        box-shadow: none;
        border: 1px solid #3a3a41 !important;
        background: #1e1e1e;
    }

    #create-alert-btn-container button {
        background: black;
        color: #dadadf;
        font-weight: normal;
    }

    #create-alert-btn-container button:hover {
        background: #211400;
        color: #bebec6;
        /* color: #f2f2f2; */
    }

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-layers label {
        background: #070707;
        color: #dadadf;
        border: none;

        &:hover {
            background: #211400;
            color: #f2f2f2;
        }

        &:active {
            background: #d97b00;
        }
    }

    .leaflet-control {
        background: transparent !important;
        color: #f2f2f2;
    }

    .leaflet-control-layers-overlays :has(input[type='checkbox']:checked) {
        background: #d97b00;
    }

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
        background: #121212;
        color: #bebec6;
    }

    /* Events Tracker */
    .event-table {
        border-radius: 0;
        border: 1px solid #3a3a41;
        color: #d2d2da;
    }

    .event-table thead {
        background: #2d2d37;
    }

    .event-row {
        background: #141418;

        &:hover {
            background: #0f0d0a;
            color: #f2f2f2;
        }
    }

    .hidden-container {
        border: 1px solid #3a3a41;
        background: #1f1f23;
    }

    .dropdown-data-key {
        border: 1px solid #3a3a41;
        background: #28282a;
    }

    .dropdown-data-value {
        border: 1px solid #3a3a41;
        background: #1e1e1e;
    }

    /* Data Dashboard */
    .data-dashboard-container {
        box-shadow: none;
        border: 1px solid #3a3a41;
    }

    .tabs div {
        &:hover {
            background: #57575b;
        }
    }

    .card-title {
        color: whitesmoke;
    }

    #cards-category-container,
    .card-container {
        background: #1e1e1e;
    }

    .big-card-container,
    .card-container {
        background: rgb(27, 27, 30);
        box-shadow: 1px 1px 2px rgb(60, 60, 60);
        border: 1px solid #3a3a41 !important;
    }

    #cards-all-container {
        background: transparent;
    }

    .recharts-legend-wrapper {
        background: #1e1e1e !important;
        box-shadow: none;
        border: 1px solid #3a3a41 !important;
    }

    .recharts-default-tooltip {
        background: #2c2c2e !important;
        border: 1px solid #3a3a41 !important;
    }

    .recharts-tooltip-cursor {
        filter: invert(1);
    }
}
